<!DOCTYPE html>
<html>

<head>
  <title>Band Aid</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap" rel="stylesheet">
  <!-- Materialize Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css" />
  <!-- JavaScript for Materialize -->
  <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper red">
                <a href="/" class="logo left">Band Aid</a>
                <ul class="right">
                    <li><a href="/bands/<%= band._id %>/members/new">Add Member</a></li>
                    <li><a href="/bands">See All Bands</a></li>
                    <li><a href="/">Home</a></li>
                    
                </ul>
            </div>
        </nav>
    </div>

    <main>
        <div class="show-band-head">
            <h2><%= band.name %></h2>
        </div>
    <form action="/bands/<%= band._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
    
    <div class="grid-container">
        <table>
            <tr>
                <th>Name</th>
                <th>Skills</th>
                <th>Phone Number</th>
                <th>Email</th>
            </tr>
            <% members.forEach(function(member) { %>
                <tr>
                    <td><%= member.name %></td>
                    <td><%= member.skills %></td>
                    <td><%= member.telephone %></td>
                    <td><%= member.email %></td>
                </tr> 
                <% }); %>
            </table>
        </div>
    </main>
        <%- include('../partials/footer') %>
            </body>
        </html>
