<!DOCTYPE html>
<html>

<head>
  <title>Band Aid</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap" rel="stylesheet">
  <!-- Materialize Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css" />
  <!-- JavaScript for Materialize -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>


<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper red">
                <a href="/" class="logo left">Band Aid</a>
                <ul class="right">
                    <li><a href="/bands">Bands</a></li>
                    <li><a href="/">Home</a></li>
                   
                </ul>
            </div>
        </nav>
    </div>

    <h2><%= band.name %></h2>
    <form action="/bands/<%= band._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
        <div class="grid-container">
            <table id="detail-list">
            <thead>
                <tr>
                    <td>
                        <th>Name</th>
                        <th>Skills</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                    </td>
                </thead>
            </table>
        </div>
        <div class="grid-container">
            <table id="detail-info">
                    <tbody>
                            <tr>
                                <td><%= band.name %></td>
                                <td><%= band.name %></td>
                                <td><%= band.name %></td>
                                <td><%= band.name %></td>
                            </tr> 
                        </tbody>
                    </table>
                </div>
            </body>
        </html>
        